.jumbotron{
    padding-top: 6rem;
    background-color: #f3e7c5;
}
#project{
    background-color: #f3e7c5;
}
section{
    padding-top: 6rem;
}

nav ul li a:hover{
    background-color: #f3e7c5;
    border-radius: 5px;
    transition: .5s;
}